node_modules
public/games
public/examples
docs/hft
docs/relayserver
docs/**/*.html
!docs/**/toc.html
!docs/unity/install.html
!docs/unity/samples.html
images/src
.DS_Store
*~
*.swp
*.bat
*.bak
*.bak.json
temp
.mayaSwatches
.git
.svn
.hg
*.pyc
*.orig
.project
*.meta
*.vpj
*.vpw
*.vpwhistu
*.vtg

