/*
 * Copyright 2014, Gregg Tavares.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Gregg Tavares. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/* set all elements to use border-box sizing. Yay! */
* {
    box-sizing: border-box;
   -moz-box-sizing: border-box;
}
/* make the body full size, FF needs html there? */
html, body {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}
/* class to make something full size */
.hft-fullsize {
  width: 100%;
  height: 100%;
}
/* class to make a column based flexbox with everything centered */
.hft-fullcenter {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  min-height: auto;
}
/* the entire page */
#hft-container {
  width: 100%;
  height: 100%;
  gborder: 1px solid white;

  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  min-height: auto;
}

/* the top area */
#hft-header {
  background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 88%,#b5c6d0 91%,#e0eff9 100%);
  width: 100%;
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;

  display: flex;
  display: -webkit-flex;

  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
}
/* the bottom area */
#hft-content {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  gborder: 5px solid purple;
  position: relative;
}
/* left header area */
#hft-nameform {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;

  margin: 0.5em;
}
#hft-name
{
    width: 100%;
    background-color: rgba(0,0,0,0);
    font-size: x-large;
    font-weight: bold;
    color: #444;
    border: none;
}
/* right header area */
#hft-menu {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.hft-instruction {
  font-size: xx-large;
  font-weight: bold;
}
/* phone landscape */
@media only screen and (min-device-width : 320px) and (max-device-width: 568px) and (orientation: landscape) {
    #hft-name {
        font-size: large;
    }
    .hft-instruction {
        font-size: x-large;
    }
}
#hft-status {
  position: absolute;
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
  border-radius: 1em;
  z-index: 5;
  color: white;
  margin: 5px;
  font-size: small;
}
#hft-debug {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: none;
}
#hft-disconnected {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  background-color: red;
  text-align: center;
  z-index: 1000;
  font-size: 48pt;
  font-weight: bold;
}
#hft-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);

  display: none;
}
.hft-menubutton {
  border-radius: 1em;
  background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 88%,#b5c6d0 91%,#e0eff9 100%);
  width: 80%;
  margin: 0.2em;
}
.hft-menubutton div {
  width: 100%;
  padding-left: 0.5em;
  height: 2em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
  font-weight: bold;
}
#hft-github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 3000;
  display: none;
}
#hft-portrait {
  display: none;
}
.hft-xlarge {
  font-size: 150pt;
  font-weight: bold;
}
@media only screen and (max-width : 320px) {
  #hft-portrait {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    color: white;
    display: flex;
    display: -webkit-flex;
    z-index: 9999;
  }
}

