/*
 * Copyright 2014, Gregg Tavares.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Gregg Tavares. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/* set all elements to use border-box sizing. Yay! */
* {
    box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
html, body {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    background-color: #46F;
}
h1 {
    gbackground: linear-gradient(to bottom, #4296f8 0%,#3881e7 88%,#2566d0 91%,#408fe9 100%);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background-color: #6AF;
    color: white;
    padding: 0.15em 0px 0.35em 0px;
    margin: 10px 0px 10px 0px;
    text-shadow: 0px 0px 0 rgb(91,144,236),-1px 1px 0 rgb(81,134,226),-2px 2px 0 rgb(71,124,216),-3px 3px 0 rgb(60,113,205),-4px 4px 0 rgb(50,103,195),-5px 5px 0 rgb(40,93,185),-6px 6px 0 rgb(30,83,175),-7px 7px 0 rgb(20,73,165),-8px 8px 0 rgb(10,63,155),-9px 9px 0 rgb(-1,52,144),-10px 10px 0 rgb(-11,42,134),-11px 11px 0 rgb(-21,32,124), -12px 12px 0 rgb(-31,22,114),-13px 13px 12px rgba(0,0,0,0.8),-13px 13px 1px rgba(0,0,0,0.5),0px 0px 12px rgba(0,0,0,.2);
}
h1>span {
    position: relative;
}
h2 {
    text-align: center;
    margin: 0px;
}
h2>a {
    display: inline-block;
    background-color: white;
    color: black;
    border: 10px;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    font-size: xx-large;
}
h2 a:link,
h2 a:visited,
h2 a:active,
h2 a:hover {
    color: inherit;
    text-decoration: none;
}
h2 a:hover {
    background-color: #ACF;
}
#version {
    position: absolute;
    text-transform: none;
    right: -3em;
    top: -0.5em;
    background-color: blue;
    border: 0.6em solid blue;
    border-radius: 1.2em;
    font-size: medium;
    text-shadow: none;
}
#versionnum {
    position: absolute;
    text-transform: none;
    left:-0.5em;
    top: -0.5em;
    background-color: blue;
    border: 0.6em solid blue;
    border-radius: 1.2em;
    font-size: medium;
    text-shadow: none;
}
.upgrade-hft {
    background-color: rgba(128,0,0,0.98);
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden-msg,
.unhidden-msg {
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.hidden-msg {
    display: none;
}

.hidden-msg>div,
.unhidden-msg>div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -webkit-align-content: center;
    -webkit-align-items: center;

    justify-content: center;
    align-content: center;
    align-items: center;
}
.hidden-msg>div>div,
.unhidden-msg>div>div {
    width: 80%;
    background-color: #68F;
    color: white;
    padding: 2em;
    border-radius: 2em;
}
.hidden-msg .strong,
.unhidden-msg .strong {
    color: #F44;
    text-shadow:
       -0.1em -0.1em 0 #000,
        0.1em -0.1em 0 #000,
       -0.1em  0.1em 0 #000,
        0.1em  0.1em 0 #000,
       -0.1em  0.0em 0 #000,
        0.1em  0.0em 0 #000,
        0.0em -0.1em 0 #000,
        0.0em  0.1em 0 #000;
}
.button-like {
    text-align: center;
    background-color: #CCC;
    color: black;
    padding: 0.5em;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}


#gamemenu {
    text-align: center;
}
.game {
    background-color: white;
    margin-top: 1em;
    -webkit-box-shadow: 0px 10px 15px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px 8px rgba(0,0,0,0.75);

    height: 150px;
    overflow: hidden;
    position: relative;
}
.game>a>div {
    padding: 5px;
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 88%,#b5c6d0 91%,#e0eff9 100%);
}
.game a, .game a:visited, .game a:hover {
    text-decoration: none;
    color: #444;
}
.game img {
    max-height: 200px;
    width: 320px;
}
/* class to make something full size */
.hft-fullsize {
  width: 100%;
  height: 100%;
}
/* class to make a column based flexbox with everything centered */
.hft-fullcenter {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  min-height: auto;
}
a:visited {
    color: orange;
}
.hft-hidden {
    display: none;
}
#hft-contextmenu {
    display: none;
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0em;
    padding: 0.1em 0em 0.1em 0em; /* TRBL */
    font-size: medium;
    font-weight: normal;
    font-family: system, sans-serif;
    color: black;

    background-color: rgba(240, 240, 240, 0.9);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);

    position: fixed;
    z-index: 5;
}
#hft-contextmenu div {
    padding: 0em 2em 0em 2em;
}
#hft-contextmenu div:hover {
   color: white;
   background-color: #49F;
}
.hft-dialog-cover {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.hft-dialog-container {
    background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 88%,#b5c6d0 91%,#e0eff9 100%);
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    color: #000;
    width: 80%;
}
.hft-dialog-container td {
    vertical-align: text-top;
}

.hft-dialog-title {
    padding: 0.5em 20px 0.5em 20px;
    background-color: #68A;
    font-size: larger;
    font-weight: bolder;
}

.hft-dialog-choice {
    padding: 10px 20px 10px 20px;
    margin: 0.5em;
    border: 5px solid blue;
    border-radius: 10px;
    background-color: #BDF;
}

.hft-dialog-content {
    padding: 20px;
}


/* fill the screen with one centered thing. block out everthing else.

  usage:
  <div id="sompin" class="hft-hidden">
     <div class="hft-fullscreencenter">
        <div>Msg etc..</div>
     </div>
  </div>

  #sompin>div {
    text-align: center; // if you want the text centered vs the element
    background-color: purple; // if you want some color other than white
  }

  // on some event
  $("sompin").style.display = "block";
*/
.hft-fullscreencenter {
  z-index: 5000;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  min-height: auto;
}
#exited>div {
    color: white;
    text-align: center;
    background-color: blue;
}
#disconnected>div {
    text-align: center;
    background-color: red;
}
#hft-settings {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.hft-menubutton {
  border-radius: 1em;
  background: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 88%,#b5c6d0 91%,#e0eff9 100%);
  width: 80%;
  margin: 0.2em;
}
.hft-menubutton a {
  text-decoration: none;
  color: black;
}
.hft-menubutton div {
  width: 100%;
  padding-left: 0.5em;
  height: 2em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#hft-icons {
    position: absolute;
    top: 5px;
    right: 5px;
}
.hft-icon {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    html, body {
        font-size: medium;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
    .game {
        width: 220px;
        display: inline-block;
        margin: 0.5em;
    }
    .game img {
        width: 220px;
    }
}

/* iPads (portrait and landscape) and bigger ----------- */
@media only screen and (min-device-width : 768px) {
/* Styles */
    .game {
        width: 320px;
        display: inline-block;
        margin: 0.5em;
    }
    .game img {
        width: 320px;
    }
    h1 {
        text-align: center;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 1224px) {
/* Styles */
    .game {
        display: inline-block;
        margin: 0.5em;
        height: 210px;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
