/*
 * Copyright 2014, Gregg Tavares.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Gregg Tavares. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
html, body {
}
#visual {
  position: absolute;
  left: 0px;
  top: 0px;
}
#playfield {
  position: absolute;
  left: 0px;
  top: 0px;
}
#grid {
  gdisplay: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}
#grid table {
  border-spacing: 0px;
  border-collapse: collapse;
}
#grid td {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  padding: 1px;
  overflow: hidden;
  vertical-align: text-top;
  font-size: xx-small;
}

#timeContainer {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  z-index: 3;
  text-align: center;
}
#time {
  width: 5em;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  padding: 2px 10px 2px 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
}

#overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  z-index: 4;
}

#overlay-inner {
  flex: 0 0 auto;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 60px;
  font-weight: bold;
  width: 50%;
  padding: 0.5em;
  border: 5px solid blue;
  border-radius: 50px;
  white-space: nowrap;
  overflow: hidden;
}
