.instruction {
  font-weight: bold;
  font-family: Arial Bold, arial, helvetica bold, helvetica, san-serif;
  font-size: 100px;
  margin: 40px;
}
.move {
}
#text {
  color: white;
  font-size: 32px;
  padding: 15px;
}
#input {
  font-size: 32px;
  font-family: Arial Bold, arial, helvetica bold, helvetica, san-serif;
}

