.instruction {
  font-weight: bold;
  font-family: Arial Bold, arial, helvetica bold, helvetica, san-serif;
  font-size: 10px;
  margin: 5px;
  color: purple;
}
#text {
  color: white;
  font-size: 20px;
  padding: 5px;
}
#input {
  font-size: 20px;
  font-family: Arial Bold, arial, helvetica bold, helvetica, san-serif;
}


