td {
    background-color: #ddd;
    color: #ddd;
    border: 3px solid #444;
    border-radius: 10px;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: xx-large;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
/* phone landscape */
@media only screen and (min-device-width : 320px) and (max-device-width: 568px) and (orientation: landscape) {
    td {
        font-size: large;
        width: 40px;
        height: 40px;
        border-radius: 7px;
        border-size: 2px;
    }
}

.noteOn {
    background-color: #fff;
    color: black;
    border: 6px solid black;
}
.notePlay {
    background-color: #f00;
}
.notePass {
    border: 3px solid #fff;
}
table {
    border-spacing: 10px;
}
#waitfortouch {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    color: white;
    background-color: purple;
}
#needWebAudio {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    color: white;
    background-color: red;
    z-index: 10;
}

/* iOS 6 the chrome takes more space */
@media only screen and (max-height : 356px) {
    td {
        font-size: large;
        width: 44px;
        height: 44px;
        border-radius: 7px;
        border-size: 2px;
    }
}

@media only screen and (max-height : 208px) {
    table {
        border-spacing: 2px;
    }
    td {
        font-size: xx-small;
        width: 34px;
        height: 28px;
        border-radius: 7px;
        border-size: 2px;
    }
}
