<!--
/*
 * Copyright 2014, Gregg Tavares.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *     * Neither the name of Gregg Tavares. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="HappyFunTimes %(info.name)s" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://greggman.github.io/HappyFunTimes/" />
  <meta property="og:description" content="HappyFunTimes is a library for making party games that are meant to be played with a bunch of people in the same room and 1 ideally large display" />

  <title>%(info.name)s</title>
  <link href="%(urls.favicon)s" rel="shortcut icon" type="image/png">
  <link rel="stylesheet" href="../../css/games.css">
  <link rel="stylesheet" href="css/%(filename)s.css">
<script>
%(hftSettings)s
</script>
%(pages.game.beforeScripts)s
</head>
<body>
%(content)s
<div id="hft-connect">
  <div id="hft-ins"></div>
</div>
<div id="hft-debug">
  <pre id="hft-status"></pre>
  <div id="hft-console"></div>
</div>
<div id="hft-disconnected">
  <div class="hft-fullcenter">
    <div class="hft-instruction">Disconnected</div>
    <div id="hft-reload">...lost connection to happyFunTimes (T_T)...</div>
  </div>
</div>
%(pages.game.afterScripts)s
</body>
</html>

